In [12]:
import pandas as pd
import numpy as np
import os

In [13]:
data_dir = "/Users/kashafali/Documents/Duke/Spring23/RL/Deep_Reinforcement_Learning_Recommenders/DRL_Recommenders/Dataset2_Diginetica/Data"
# read in data
product = pd.read_csv(os.path.join(data_dir, "products.csv"), sep=";")
product_cat = pd.read_csv(os.path.join(data_dir, "product-categories.csv"), sep=";")

In [14]:
product_cat.head()

   itemId  categoryId
0  139578        1096
1  417975        1096
2  291805        1096
3  396921        1096
4  159257        1096

In [15]:
# save csv 
product_cat.to_csv('/Users/kashafali/Documents/Duke/Spring23/RL/Deep_Reinforcement_Learning_Recommenders/DRL_Recommenders/Dataset2_Diginetica/src/item_features/product_cat.csv', index=False)

In [16]:
product.head()

   itemId  pricelog2              product.name.tokens
0       1         10  4875,776,56689,18212,18212,4896
1   69585          6      7583,18117,41805,41805,2371
2   90939          6       604,18117,41805,41805,2371
3   69586          0      2936,18117,41805,41805,2371
4   30029          7           4668,41805,41805,56652

In [17]:
# keep itemId and pricelog2
product = product[['itemId', 'pricelog2']]

In [18]:
# save csv

product.to_csv('/Users/kashafali/Documents/Duke/Spring23/RL/Deep_Reinforcement_Learning_Recommenders/DRL_Recommenders/Dataset2_Diginetica/src/item_features/product.csv', index=False)